# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=appdb
MYSQL_USER=appuser
MYSQL_PASSWORD=apppassword
MYSQL_PORT=127.0.0.1:3306

# phpMyAdmin
PMA_HOST=mysql
PMA_PORT=3306
PMA_HOST_PORT=127.0.0.1:8080
UPLOAD_LIMIT=128M
MEMORY_LIMIT=512M
MAX_EXECUTION_TIME=600

# Redis
REDIS_PORT=127.0.0.1:6379
